:root {
	--background-peach: #F2DBBA;
	--footer-blue: #4d80c5;
	--accent-red: #e13c0e;
	--grey: #666363;
	--footer-size: 26.4px;
	--normal: #e68c25;
}


html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:4.5vw;
}
#content {
	padding-bottom:calc(20px + (var(--footer-size) * 3)); /* Height of the footer element */
}
#footer {
	color: var(--grey);
	width:100%;
	font-size: var(--footer-size);
	padding-bottom: calc(var(--footer-size) / 2);
	position:absolute;
	bottom:0;
	left:0;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
}

.social-media {
	width: 100%;
	padding-bottom: 0px;
}

.footer-layer {
	width: 100%;
	padding-bottom: calc(var(--footer-size) / 2);
}

.footer-icon {
	height: var(--footer-size);
	}

.panda {
	margin-bottom: calc(var(--footer-size) / 10);
}

.D{
	/* Original Link: "https://media.giphy.com/media/l41m3TD0Z8yk1wafC/giphy.gif" */;
 	background:url(http://i.imgur.com/tYiGZ6P.gif) repeat; 
 	/*background: url(http://67.media.tumblr.com/e6ecfbef6153d01b9c648c538d8b51d9/tumblr_nt51443bL91sp6lajo1_500.gif) repeat;*/
  background-position:10px;
 	-webkit-background-clip: text;
    color: transparent;
	font-size:140px;
    font-family:Helvetica, sans-serif;
	font-weight:bold;
	background-size: 1080px 200px;
  margin:0 auto;background-position-x:50%;
  text-align: center;
}

.normal{
	font-size: 35px;
	color: var(--grey);
	text-align: center;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	padding-top: 100px;
	padding-bottom: 100px;
	opacity: .8;
}

.emph {
	color: var(--normal);
	font-weight: 400;
}

.fa-heart {
	color: var(--accent-red);
}

.sm {
	color: var(--grey);
	opacity: 0.6;
}

.sm:hover {
	opacity: 1;
}

.social-media > * {
	margin-right: calc(var(--footer-size) / 2);
	margin-left: calc(var(--footer-size) / 2);
}

@media all and (max-width: 1020px) {
	.D {
		font-size: 13.72549vw;
		background-size: 100vw 19.6vw;
	}
	.normal {
		font-size: 3.43vw;
	}
}

@media all and (max-width: 770px) {
	.normal {
		font-size: var(--footer-size);
	}
}
@media all and (max-width: 550px) {
	:root {
		--footer-size: 4.8vw;
	}
}
